@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&display=swap");
.container {
  background-image: linear-gradient(
    0deg,
    rgba(53, 99, 201, 1) 35%,
    rgba(58, 75, 181, 1) 100%
  );
}

.dialogBox {
  width: 50vw;
  align-self: center;
  overflow: hidden;
  background-color: #3a4ab59d;
  
}
.dialogTitle {
  text-align: center;
  font-weight: "bold";
}
.dialog-fade-in {
  animation: fadeIn 1s
}
.fade-in {
  animation: fadeIn 3s;
}

.img-pop-in {
  animation:popIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes popIn {
  0% {
    transform: translateY(75%);
    opacity:0;
  }
  100% {
    transform:translateY(0%);
    opacity:1;
  }
}

