/**
File containing all the basic CSS classes used in displaying the general components of the project
**/

.info-container {
  margin: auto;
  width: 85%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  min-height: 525px;
  background: #010101;
  border-radius: 0.75rem;
}

li {
  width:100%;
  margin:0.35rem 0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin:1rem 0;
  border-bottom: 1px solid white;
  padding-left: .5rem;
  padding:.75rem 0 .75rem .5rem;
}

.nav-li {
  cursor: pointer;
  border-bottom: none;
  padding:0;
  margin:0;
}

ul {
  list-style-type:none;
  padding:0;
  padding-right: .5rem;
  overflow:'auto';
  width:'100%'

}

li #icon {
  flex:30%;
  display:grid;
  place-items: center;
}

li #title {
  flex:70%
}

#check {
  opacity: 1;
}

#check:checked ~ ul {
  left: 0;
}


.sidebar {
  overflow: hidden;
  overflow-y:scroll;
}


.timestamp {
  text-decoration: underline;
  text-decoration-color: #3563c9;
  font-weight: 500;
 
}

.timestamp:hover {
  cursor:pointer;
}